[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/c1v1um
[access "refs/for/refs/*"]
	read = group user/c1v1um
	push = group user/c1v1um
	label-Code-Review = -2..+2 group user/c1v1um
	label-Verified = -1..+1 group user/c1v1um
	rebase = group user/c1v1um
	removeReviewer = group user/c1v1um
	submit = group user/c1v1um
[access "refs/heads/*"]
	read = group user/c1v1um
	create = group user/c1v1um
	push = +force group user/c1v1um
	pushMerge = group user/c1v1um
[access "refs/tags/*"]
	push = group user/c1v1um
	push = +force group user/c1v1um
